{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about template</h1>
                <p>This is some additional text, jabronie</p>

                <p>This came from the template: {{index .StringMap "test"}}
            </div>
        </div>
    </div>
{{end}}